.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  transition: all 0.1s ease-in-out;
}

.name:hover {
  font-weight: bold;
  /* transform: scale(1.04); */
}

.link {
  text-decoration: none;
  color: black;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.minititle {
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 13px;
}
