.navbar {
  background-color: black;

  margin-bottom: 50px;
}
.homer {
  text-decoration: none;
  position: relative;
}

.header {
  margin-bottom: 20px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  top: 0px;

  z-index: 1;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
}

.home {
  margin: 0;
  color: white;
  position: relative;
}

.search {
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;

  color: aliceblue;
  background-color: black;
  border-color: white;
  border-radius: 0.3rem;
  position: relative;
}

.searchbar {
  background-color: aliceblue;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 20%;
  color: aliceblue;
  background-color: black;
  border-color: white;
  border-radius: 0.3rem;
  position: relative;
}
/* 
.dropbar{
    background-color: aliceblue;
    color: white;
}

.searchentry{
    padding: 10px 20px;
    border: solid black 1px;
    border-top: none;
} */

.droplist {
  list-style-type: none;
  position: absolute;
  background: rgb(44, 34, 59);
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.lists {
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.lists:hover {
  font-weight: bold;
}

.listimage {
  width: 10%;
  margin: 5px;
}
.linkkk {
  background: rgb(44, 34, 59);
  display: flex;
  flex-direction: row;
  border: solid black 1px;
  border-top: none;
  color: white;
  text-align: center;
  text-decoration: none;
}
