.show {
  margin-inline: 10vw;
}

.title {
  margin-top: 0;
  text-align: center;
}

.middle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(208px, 1.27fr));
}

.showImage {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.miniminititle {
  margin: 0;
  text-align: center;
}

.characterinfo {
  display: flex;
  align-items: center;
  margin: 10px;
}
.actorimage {
  width: 40px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.characterpic {
  width: 40px;
  position: absolute;
  top: 1;
}

.names {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.actorname {
  text-decoration: none;
  color: black;
}
.italictext {
  font-style: italic;
  text-decoration: none;
  color: black;
}

.miniseason {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.seasonimage {
  width: 40px;
  height: 40px;
  border-radius: 3rem;
}

.seasonlist {
  padding-left: 10px;
}

.footer {
  margin-bottom: 15px;
}
